body{
  margin:0;
  background:black;
  color:white;
  font-family:Orbitron,sans-serif;
  text-align:center;
}
h1{
  color:red;
  text-shadow:0 0 20px red;
}
.card{
  display:inline-block;
  padding:25px;
  margin:20px;
  border:2px solid red;
  border-radius:15px;
  box-shadow:0 0 20px red;
}
button{
  padding:10px 20px;
  border:2px solid red;
  background:black;
  color:red;
  border-radius:10px;
  cursor:pointer;
}
button:hover{
  background:red;
  color:black;
}
#tsparticles{
  position:fixed;
  width:100%;
  height:100%;
  z-index:-1;
}
